.searchBar {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.Scrollable {
  max-height: 80vh !important;
  text-align: center;
  overflow-y: auto;
}
.Scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Scrollable::-webkit-scrollbar {
  display: none;
}
