.App {
  text-align: center;
}

.nav {
  background-color: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  width:100%;
  height:100vh;
  padding: 0.5%;
  background: inherit;
  box-sizing: border-box;
}

.card{
  box-sizing: border-box;
}

.Scrollable{
  max-height: 80vh !important;
  text-align: center;
  overflow-y: auto;  
}
.Scrollable {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.Scrollable::-webkit-scrollbar { 
  display: none;  
}

.Loader{
  width: 400px;
  height:400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  display: block;
  width: 300px;
  height: 300px;
  border: 30px solid #BF373A;
  border-radius: 50%;
  background: #FDFFFD;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg);
    transform-origin: 50% 50%;
  }
}

.loader:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 30px solid #BF373A;
  border-radius: 50%;
  background: #091732;
}

.star-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 85px;
  height: 85px;
}

.star {
  margin: 45px 0;
  margin-left: -35px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #FDFFFD;
  border-left: 100px solid transparent;
  transform: rotate(35deg) translate(-50%, -50%) scale(0.58);
  z-index: 2;
}

.star:before {
  border-bottom: 80px solid #FDFFFD;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  top: 7px;
  left: -111px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #FDFFFD;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.searchBar{
  margin-top: 10px;
  width: 50%;
}

.searchBar input{   
  color: white;
  background-color: rgba(0,0,0,0.8);
  border: 2px solid white;
}

.searchBar input:focus{ 
  color: white;
  background-color: rgba(0,0,0,0.8);
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color:#000;
  color: white;
  text-align: center;
}
.searchBar{
  width: 100%;
}
.pagination{
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 30%;
}
.displayCard{
  width: 18rem;
  margin: 20px 40px;
  box-shadow: #282c34 0 10px 10px;
}
.displayCard:hover{
  transform: scale(1.1);

}