.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  width: 100%;
  height: 100vh;
  padding: 0.5%;
  background: inherit;
  box-sizing: border-box;
}
.card-wrapper{
  padding:0 15px 10px;
  flex: 0 0 25%;
}
.card {
  box-sizing: border-box;
  height: 300px;
}

.Scrollable {
  max-height: calc(100vh - 130px) !important;
  text-align: center;
  height: 100%;
  overflow-y: auto;
}

.Scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Scrollable::-webkit-scrollbar {
  display: none;
}

.searchBar {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: white;
  text-align: center;
}

.infinite-scroll-component {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right:-15px

}

.card-title {
  font-size: 1rem;
}