.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main{
  width:100%;
  height:100vh;
  padding: 0.5%;
  background: inherit;
  box-sizing: border-box;
}

.card{
  box-sizing: border-box;
}

.Scrollable{
  max-height: 80vh !important;
  text-align: center;
  overflow-y: auto;  
}

.searchBar{
  margin-top: 20px;
  width:100%;
  text-align: center;
}

.Loader{
  width:300px;
  height:300px;
  margin-top:auto;
  margin-left:40%;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:30px;
  background-color:#000;
  color: white;
  text-align: center;
}